@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-shadow {
  box-shadow: 0 0 6px 1px #665df5;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.nav-shadow {
  box-shadow: 0 0 6px 1px #665df5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#vasanth,
#head {
  animation: vasanth 2s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes vasanth {
  0%,
  100% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}

#head {
  animation: head 2s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes head {
  0%,
  100% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
}

#vapour {
  animation: vapour 2s linear infinite;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes vapour {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-7px);
  }
}

#vapour2 {
  animation: vapour2 2s linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes vapour2 {
  0%,
  100% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(8px);
  }
}
.animate-spin {
  animation: spin 10s linear infinite;
}
#mainbranch,
#bottombranch {
  animation: mainbranch 12s linear infinite;
  transform-origin: left center;
  transform-box: fill-box;
}

@keyframes mainbranch {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.glow {
  background-color: #665df5; /* Set your desired background color */
  box-shadow: 0 0 10px rgba(102, 93, 245, 0.7); /* Adjust the shadow values as needed */
}

.glow-infinite {
  background-color: #665df5; /* Set your desired background color */
  box-shadow: 0 0 10px rgba(102, 93, 245, 0.7); /* Adjust the shadow values as needed */
  animation: glowing 1s infinite alternate;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 10px rgba(102, 93, 245, 0.7);
  }
  100% {
    box-shadow: 0 0 30px rgba(102, 93, 245, 0.9);
  }
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}
